<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/math.css">

        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript">(function(e){e.fn.flowtype=function(t){var n=e.extend({maximum:9999,minimum:1,maxFont:9999,minFont:1,fontRatio:35},t),r=function(t){var r=e(t),i=r.width(),s=i>n.maximum?n.maximum:i<n.minimum?n.minimum:i,o=s/n.fontRatio,u=o>n.maxFont?n.maxFont:o<n.minFont?n.minFont:o;r.css("font-size",u+"px")};return this.each(function(){var t=this;e(window).resize(function(){r(t)});r(this)})}})(jQuery)</script>
       <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
       <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Siddharth Mahendraker<br />
                Student<br />
                siddharth.mahen@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/siddMahen">github.com/siddMahen</a><br />
                <a href="https://twitter.com/siddMahen">twitter.com/siddMahen</a><br />
              </p>
            </div>
          </div>
        </div>

    <script>
      $('body').flowtype({
        maximum: 1200,
        fontRatio: 25,
        maxFont: 20
      });
    </script>
    </body>
</html>
